<!DOCTYPE html>
<html lang="en">

<%- include("../../views/partials/admin/header") %>

    <head>
        <style>
            .thumbnails-container {
                display: flex;
                overflow-x: auto;
            }


            .thumbnail {
                margin-right: 10px;
            }

            .input-upload {
                position: relative;
            }


            .error-message {
                color: red;
                display: none;
            }

            .cropped-img {
                max-width: 200px;
                height: auto;
                object-fit: cover;
                margin-bottom: 1rem;
            }

            .image-cropper {
                background-color: #f8f9fa;
                padding: 1rem;
                border-radius: 4px;
                margin-bottom: 1rem;
            }

            .cropper-container {
                max-width: 100%;
            }

            #imgView1,
            #imgView2,
            #imgView3,
            #imgView4 {
                max-width: 100%;
                height: auto;
            }

            .btn-primary {
                margin-top: 0.5rem;
            }
        </style>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.css">
    </head>

    <body>

        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>


                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">


                        <div class="card-body">
                            <form method="post" action="/admin/edit-product/<%=product._id%>"
                                enctype="multipart/form-data" onsubmit="return validateForm()">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product Name</label>
                                    <input type="text" name="productName" value="<%=product.productName %>"
                                        class="form-control border" id="product_name">
                                    <div id="productName-error" class="error-message"></div>
                                </div>
                                <div class="mb-4">
                                    <label for="author" class="form-label">Author</label>
                                    <input type="text" name="author" value="<%=product.author %>"
                                        class="form-control border" id="author">
                                    <div id="author-error" class="error-message"></div>
                                </div>

                                <div class="mb-4">
                                    <label class="form-label">Product Description</label>
                                    <input name="description" value="<%=product.description %>"
                                        class="form-control border" rows="4">
                                    <div id="description-error" class="error-message"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Regular price</label>
                                            <input placeholder="₹" name="regularPrice" type="text"
                                                value="<%=product.regularPrice %>" class="form-control border">
                                            <div id="regularPrice-error" class="error-message"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Quantity</label>
                                            <input name="quantity" type="text" value="<%=product.quantity %>"
                                                class="form-control border">
                                            <div id="quantity-error" class="error-message"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Publisher</label>
                                            <input name="publisher" type="text" value="<%=product.publisher %>"
                                                class="form-control border">
                                            <div id="publisher-error" class="error-message"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="card mb-4">


                                    <div class="card-body">
                                        <div class="row gx-2">
                                            <div class="col-sm-6 mb-3">
                                                <label class="form-label">Category</label>
                                                <select class="form-select border" style="width: 150px;"
                                                    name="category">
                                                    <% for(let i=0; i < cat.length; i++){ %>
                                                        <option value="<%= cat[i]._id %>">
                                                            <%= cat[i].name %>
                                                        </option>
                                                        <% } %>
                                                </select>



                                                <div id="category-error" class="error-message"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-2">
                                    <div class="card-header">
                                        <h4>Choose images</h4>
                                    </div>

                                    <% for(let i=0 ; i < product.productImage.length;i++) {%>

                                        <div class="col-md-12">
                                            <div class="mb-4">
                                                <div class="col-12">
                                                    <td>
                                                        <input type="hidden" value="<%= product.productImage[i] %>"
                                                            id="imageDatas">
                                                        <img class="rounded" style="width: 50px; height: 60px;"
                                                            src="/uploads/product-images/<%=product.productImage[i]%>"
                                                            alt="">
                                                        <i onclick="deleteSingleImage('<%=product.productImage[i]%>', '<%=product._id%>', event)"
                                                            style="position: absolute; margin-left: .5rem; cursor: pointer;"
                                                            class="fa-thin fa-x"></i>

                                                    </td>
                                                </div>

                                            </div>
                                        </div>

                                        <% } %>
                                            <div class="card-body">
                                                <div class="card-body align-items-center" style="margin-bottom: 20px;">
                                                    <img src="" alt="" id="imgView1"
                                                        style="max-width: 100%; display: none;">
                                                    <input class="form-control" type="file" name="images" id="input1"
                                                        accept="image/png, image/jpeg, image/jpg"
                                                        onchange="viewImage1(event)">
                                                    <div id="images-error" class="error-message"></div>
                                                </div>
                                                <div class="image-cropper d-flex align-items-center flex-column"
                                                    style="display:none; margin-bottom: 20px;">
                                                    <img src="" id="croppedImg1" alt="" class="cropped-img mb-2"
                                                        style="display: none;">
                                                    <button type="button" id="saveButton1" class="btn btn-primary">Save
                                                        Cropped Image</button>
                                                </div>


                                                <div class="card-body align-items-center" style="margin-bottom: 20px;">
                                                    <img src="" alt="" id="imgView2"
                                                        style="max-width: 100%; display: none;">
                                                    <input class="form-control" type="file" name="images" id="input2"
                                                        accept="image/png, image/jpeg, image/jpg"
                                                        onchange="viewImage2(event)">
                                                    <div id="images-error" class="error-message"></div>
                                                </div>
                                                <div class="image-cropper d-flex align-items-center flex-column"
                                                    style="display:none; margin-bottom: 20px;">
                                                    <img src="" id="croppedImg2" alt="" class="cropped-img mb-2"
                                                        style="display: none;">
                                                    <button type="button" id="saveButton2" class="btn btn-primary">Save
                                                        Cropped Image</button>
                                                </div>

                                                <div class="card-body align-items-center" style="margin-bottom: 20px;">
                                                    <img src="" alt="" id="imgView3"
                                                        style="max-width: 100%; display: none;">
                                                    <input class="form-control" type="file" name="images" id="input3"
                                                        accept="image/png, image/jpeg, image/jpg"
                                                        onchange="viewImage3(event)">
                                                    <div id="images-error" class="error-message"></div>
                                                </div>
                                                <div class="image-cropper d-flex align-items-center flex-column"
                                                    style="display:none; margin-bottom: 20px;">
                                                    <img src="" id="croppedImg3" alt="" class="cropped-img mb-2"
                                                        style="display: none;">
                                                    <button type="button" id="saveButton3" class="btn btn-primary">Save
                                                        Cropped Image</button>
                                                </div>

                                                <div class="card-body align-items-center" style="margin-bottom: 20px;">
                                                    <img src="" alt="" id="imgView4"
                                                        style="max-width: 100%; display: none;">
                                                    <input class="form-control" type="file" name="images" id="input4"
                                                        accept="image/png, image/jpeg, image/jpg"
                                                        onchange="viewImage4(event)">
                                                    <div id="images-error" class="error-message"></div>
                                                </div>
                                                <div class="image-cropper d-flex align-items-center flex-column"
                                                    style="display:none; margin-bottom: 20px;">
                                                    <img src="" id="croppedImg4" alt="" class="cropped-img mb-2"
                                                        style="display: none;">
                                                    <button type="button" id="saveButton4" class="btn btn-primary">Save
                                                        Cropped Image</button>
                                                </div>
                                            </div>
                                </div>
                        </div>
                        <div>
                            <button class="btn btn-success btn-md rounded font-sm hover-up" id="updatebtn" type="button"
                                onclick="validateAndSubmit()">Update</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </section>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.js"></script>



    <script>
        function validateAndSubmit() {
            if (validateForm()) {
                document.forms[0].submit();
            }
        }


        async function deleteSingleImage(imagePath, productId, event) {
            try {
                const imageFileName = imagePath.split('/').pop();

                const response = await fetch('/admin/delete-product-image', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        imageNameToServer: imageFileName,
                        productIdToServer: productId
                    })
                });

                const data = await response.json();

                if (response.ok && data.success) {
                    const targetImage = event.target.closest('.col-md-12');
                    if (targetImage) {
                        targetImage.remove();
                    }
                } else {
                    throw new Error(data.message || 'Failed to delete image');
                }
            } catch (error) {
                alert(error.message || 'Error occurred while deleting image');
            }
        }



        function viewImage(event, index) {
            const input = event.target;
            const imgView = document.getElementById(`imgView${index}`);
            const croppedImg = document.getElementById(`croppedImg${index}`);
            const cropperContainer = croppedImg.parentNode;
            const saveButton = document.getElementById(`saveButton${index}`);

            if (imgView.cropper) {
                imgView.cropper.destroy();
            }

            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    imgView.style.display = 'block';
                    imgView.src = e.target.result;
                    cropperContainer.style.display = 'flex';

                    const cropper = new Cropper(imgView, {
                        aspectRatio: 1,
                        viewMode: 1,
                        guides: true,
                        background: false,
                        autoCropArea: 1,
                        zoomable: true
                    });

                    imgView.cropper = cropper;

                    saveButton.onclick = function () {
                        const canvas = cropper.getCroppedCanvas({
                            width: 600,
                            height: 600
                        });

                        croppedImg.src = canvas.toDataURL('image/jpeg');
                        croppedImg.style.display = 'block';

                        canvas.toBlob(function (blob) {
                            const fileName = `cropped-image-${index}-${Date.now()}.jpg`;
                            const file = new File([blob], fileName, { type: 'image/jpeg' });

                            const dataTransfer = new DataTransfer();
                            dataTransfer.items.add(file);
                            input.files = dataTransfer.files;

                            imgView.style.display = 'none';
                            cropper.destroy();
                            imgView.cropper = null;
                        }, 'image/jpeg');
                    };
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function viewImage1(event) {
            viewImage(event, 1);
        }

        function viewImage2(event) {
            viewImage(event, 2);
        }

        function viewImage3(event) {
            viewImage(event, 3);
        }

        function viewImage4(event) {
            viewImage(event, 4);
        }


        const selectedImages = [];
        document.getElementById("input1").addEventListener("change", handleFileSelect);

        function handleFileSelect(event) {
            const addedImagesContainer = document.getElementById("addedImagesContainer");
            addedImagesContainer.innerHTML = "";
            const files = event.target.files;
            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                selectedImages.push(file);
                const thumbnail = document.createElement("div");
                thumbnail.classList.add("thumbnail");

                const img = document.createElement("img");
                img.src = URL.createObjectURL(file);
                img.alt = "thumbnail";
                img.style.width = "50px";
                img.style.height = "auto";
                const removeIcon = document.createElement("span");
                removeIcon.classList.add("remove-icon");
                removeIcon.innerHTML = "&times";
                removeIcon.addEventListener("click", function () {
                    const index = selectedImages.indexOf(file);
                    if (index !== -1) {
                        selectedImages: splice(index, 1);
                    }
                    thumbnail.remove();
                });
                thumbnail.appendChild(img);
                thumbnail.appendChild(removeIcon);
                addedImagesContainer.appendChild(thumbnail);
            }
        }




        function validateForm() {
            clearErrorMessages();

            const name = document.getElementsByName('productName')[0].value;
            const author = document.getElementsByName('author')[0].value;
            const description = document.getElementsByName('description')[0].value;
            const regularPrice = document.getElementsByName('regularPrice')[0].value;
            const quantity = document.getElementsByName('quantity')[0].value;
            const publisher = document.getElementsByName('publisher')[0].value;
            const category = document.getElementsByName('category')[0].value;
            const images = document.getElementById('input1');
            let isValid = true;

            if (name.trim() === "") {
                displayErrorMessage('productName-error', 'Please enter a product name.');
                isValid = false;
            } else if (name.length < 4) {
                displayErrorMessage('productName-error', 'Product name must have at least 4 characters.');
                isValid = false;
            } else if (!/^[a-zA-Z\s]+$/.test(name.trim())) {
                displayErrorMessage('productName-error', 'Product name should contain only alphabetic characters.');
                isValid = false;
            }

            if (author.trim() === "") {
                displayErrorMessage('author-error', 'Please enter an author name.');
                isValid = false;
            } else if (author.length < 4) {
                displayErrorMessage('author-error', 'Author name must have at least 4 characters.');
                isValid = false;
            } else if (!/^[a-zA-Z\s]+$/.test(author.trim())) {
                displayErrorMessage('author-error', 'Author name should contain only alphabetic characters.');
                isValid = false;
            }

            if (publisher.trim() === "") {
                displayErrorMessage('publisher-error', 'Please enter a publisher name.');
                isValid = false;
            } else if (publisher.length < 4) {
                displayErrorMessage('publisher-error', 'Publisher name must have at least 4 characters.');
                isValid = false;
            } else if (!/^[a-zA-Z\s]+$/.test(publisher.trim())) {
                displayErrorMessage('publisher-error', 'Publisher name should contain only alphabetic characters.');
                isValid = false;
            }

            if (description.trim() === "") {
                displayErrorMessage('description-error', 'Please enter a product description.');
                isValid = false;
            } else if (description.length < 10) {
                displayErrorMessage('description-error', 'Description must have at least 10 characters.');
                isValid = false;
            }

            if (!/^\d+$/.test(quantity) || parseInt(quantity) < 0) {
                displayErrorMessage('quantity-error', 'Please enter a valid non-negative quantity.');
                isValid = false;
            }

            if (!/^\d+$/.test(regularPrice) || parseInt(regularPrice) < 0) {
                displayErrorMessage('regularPrice-error', 'Please enter a valid non-negative price.');
                isValid = false;
            }

            if (!category) {
                displayErrorMessage('category-error', 'Please select a category.');
                isValid = false;
            }

            if (images.files.length === 0) {
                displayErrorMessage('images-error', 'Please upload at least one product image.');
                isValid = false;
            }

            return isValid;
        }

        function displayErrorMessage(elementId, message) {
            const errorElement = document.getElementById(elementId);
            errorElement.textContent = message;
            errorElement.style.display = 'block';
        }

        function clearErrorMessages() {
            const errorMessages = document.querySelectorAll('.error-message');
            errorMessages.forEach((error) => error.style.display = 'none');
        }
    </script>

</html>