<%-include("../../views/partials/user/header")%>


  <!-- Hero Section Begin -->
<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="img/hero/zahraHero1.webp">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Explore New Worlds</h6>
                            <h2>Your Next Favorite Book Awaits</h2>
                            <p>Discover our curated collection of bestsellers, timeless classics, and hidden gems. Dive into stories that inspire and entertain.</p>
                            <a href="/products" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="img/hero/zahraHero2.webp">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Unleash Your Imagination</h6>
                            <h2>Best Books of 2023</h2>
                            <p>From thrilling adventures to heartwarming tales, our selection has something for every reader. Join our community of book lovers!</p>
                            <a href="/products" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Hero Section End -->

    <!-- Banner Section Begin -->
<section class="banner spad">
    <div class="container">
        <div class="row">
            <!-- Banner Item 1 -->
            <div class="col-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="img/banner/banner-1.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Clothing Collections 2030</h2>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <!-- Banner Item 2 -->
            <div class="col-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="img/banner/banner-2.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Accessories</h2>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <!-- Banner Item 3 -->
            <div class="col-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="img/banner/banner-3.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Shoes Spring 2030</h2>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

    <!-- Banner Section End -->

    <!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter=".new-arrivals">New Arrivals</li>
                </ul>
            </div>
        </div>
        <div class="row Product__filter">
            <%for(let i = 0; i < products.length;i++){%>
                <div class="col-lg-3 col-md-4 col-12 col-sm-6" >
                    <div class="product-cart-wrap mb-30" >
                        <div class="product-img-action-wrap" >
                            <div class="product-img product-img-zoom" >
                                <a href="/productDetails?id=<%=products[i]._id%>">
                                <img class="default-img" src="/uploads/re-image/<%=products[i].productImage[0]%>" alt="<%=products[i].productName%>">
                                </a>
                            </div>
                        </div>

                        <div class="product-action-1" >
                            <a aria-label="Add to Wishlist" class="action-btn hover-up" href="/addToWishlist"></a>
                        </div>

                        <div class="product-content-wrap" >
                            <h6><%=products[i].productName%></h6>
                            <h5><%=products[i].salePrice%></h5>
                            <a href="/addToCart?id=<%=products[i]._id%>">Add to Cart</a>
                        </div>

                    </div>
                </div>
            <%}%>
        </div>
    </div>
</section>
<!-- Product Section End -->



   <%-include("../../views/partials/user/footer")%>